* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: right;
}

h4 {
    text-align: right;
}

img {
    margin-top: 20px;
}

body {
    color: #2d3c49;
    font-weight: 300;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.row {
    width: 100%;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 49.99%;
}
.col-7 {
    width: 58.32%;
}
.col-8 {
    width: 66.65%;
}
.col-9 {
    width: 74.98%;
}
.col-10 {
    width: 83.31%;
}
.col-11 {
    width: 91.64%;
}
.col-12 {
    width: 100%;
}